footer{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 0px;
    text-align: center;
    .Copyright{
        font-size: 14px;
        display: block;
    }
    .designed{
        font-size: 13px;
        display: block;
        margin-top: 10px;
        .boostrap{
            color: #1dc8cd;
            
        }
    }
    a{
        color: black;
        text-decoration: none;
        &:hover{
            color: #1dc8cd;
        }
    }
    .footer-nav{
        margin-top: 20px;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
    }

    @media screen and (min-width: 768px){
        .footer-nav{
            margin: 0 auto;
            margin-top: 20px;
            width: 60%;
        }
    }
    @media screen and (min-width: 998px){
        
        .footer{
            display: flex;
            margin: 0 auto;
            width: 60%;
        }
        .footer-nav{
            width: 50%;
            font-size: 14px;
        }
        .footer_txt{
            text-align: left;
            width: 50%;
        }
    }
}