body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(164deg, rgba(255,255,255,1) 62%, rgba(253,80,104,1) 100%);
    h1{
        color: #fd5068;
    }         
}
main{
    text-align: center;
}