.about-us{
    position: relative;
    z-index: 10;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    h1{
        margin: 0;
    }
    img{
        max-width: 100%;
    }
    h3{
        font-weight: 400;
    }
    i{
        color: #1dc8cd;
        padding-right: 10px;
    }
    @media screen and (min-width: 998px){
        .about-us{
            padding-left: 0;
            padding-right: 0;
        }
        .about-us_flex{
            display: flex;
        }
        .about-us_img{
            width: 40%;
        }
        .about-us_txt{
            margin-left: 30px;
            width: 60%;
        }
    }
}
.product-features{
    padding-bottom: 20px;
    img{
        padding-top: 30px;
    }
    .wrapper{
        div{
            text-align: center;
            i{
                color: #1dc8cd;
                font-size: 30px;
                padding-top: 20px;
            }
            a{
                font-weight: 400;
                font-size: 22px;
                text-decoration: none;
                color: #111;
                display: block;
                padding-top: 20px;
            }
            p{
            font-size: 14px;
            }
        }
    }
    @media screen and (min-width: 768px){
        .flex-wrapper{
            display: flex;
            .image{
                width: 40%;
            }
            .feature{
                width: 40%;
                padding-left: 30px;
            }
            .features{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 60%;
            }
        }
    }
}
.map{
    padding-top: 60px;
    padding-bottom: 55px;
    p{
        line-height: 24px;
    }
    @media screen and (min-width: 768px){
        .map{
            width: 45%;
            float: right;
            margin-left: 20px;
            padding-top: 0px;
            padding-bottom: 10px;
        }
    }
    @media screen and (min-width: 998px){
        .wrapper{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 60%;
        }
        .map{
            width: 100%;
        }
    }
}
.planning{
    padding-top: 60px;
    padding-bottom: 25px;
    .wrapper{
        div{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            i{
                font-size: 40px;
                color:#1dc8cd;
                padding-right: 10px;
            }
            p{
                margin: 0;
            }
        }
    }
    @media screen and (min-width: 768px){
        img{
            width: 45%;
            float: left;
            margin-right: 20px;
            padding-top: 0px;
            padding-bottom: 10px;
        }
    }
    @media screen and (min-width: 998px){
        .wrapper{
            width: 60%;
            padding-bottom: 50px;
        }
    }
}
.chart{
    padding-top: 60px;
    i{
        font-size: 30px;
        color: #1dc8cd;
        padding-right: 10px;
    }
    @media screen and (min-width: 768px){
        img{
            width: 45%;
            float: right;
            margin-left: 20px;
            padding-top: 0px;
            padding-bottom: 10px;
        }
    }
    @media screen and (min-width: 998px){
        .wrapper{
            width: 60%;
            padding-bottom: 50px;
        }
    }
}
.call-to-action{
    text-align: center;
    color: white;
    padding: 80px 15px;
    background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url(../images/call-to-action-bg.jpg) fixed center/cover;
    p{
        line-height: 25px;
    }
    a{
        padding: 8px 35px;
    }
    a:hover{
        background-color: #1dc8cd;
        border: 2px solid #1dc8cd;
        color: white;
    }
    @media screen and (min-width: 998px){
        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            text-align: left;
        }
        .call-to-action_txt{
            width: 75%;
        }
        .call-to-action_btn{
            text-align: center;
            width: 25%;
        }
    }
}
.white-box{
    background-color: white;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    padding:50px 30px;
    margin-bottom: 20px;
}
.more-features{
    text-align: center;
    padding-bottom: 60px;
    h1{
        margin:0;
    }
    .wrapper{
            a{
                display: block;
                text-decoration: none;
                color: black;
                font-weight: 700;
                font-size: 18px;
                margin-top: 15px;
            }
            i{
                color: #1dc8cd;
                font-size: 40px;
            }

            p{
                font-size: 14px;
                line-height: 24px;
            }
        }
        @media screen and (min-width: 998px){
            .feats{
                margin: 0 auto;
                width: 60%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 3%;
            }
            .white-box{
                text-align: left;
                display: flex;
                align-items: center;
            }
            .icon{
                margin-right: 30px;
            }
        }
}
.brands{
    img{
        padding: 15px 0;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }
    @media screen and (min-width: 768px){
        img{
            width: 16%;
        }
    }
    @media screen and (min-width: 998px){
        .wrapper{
            width: 60%;
        }
    }
}
.pricing{
    padding-bottom: 70px;
    h4{
        text-align: center;
        font-size: 28px;
        font-weight: 400;
        margin-top: 0;
    }
    .payment{
        text-align: center;
    }
    .dolar{
        color: #1dc8cd;
    }
    .amount{
        color: #1dc8cd;
        font-size: 46px;
    }
    .month{
        color: #bababa;
    }
    i{
        color: #1dc8cd;
        padding-right: 10px;
        line-height: 30px;
    }
    .button{
        background-color: #515e61;
        border: 2px solid #515e61;
        
        &:hover{
            color: white;
        }
    }
    @media screen and (min-width: 768px){
        .boxes{
            display: flex;
            flex-wrap: wrap;
        }
        .border{
            margin-left: 30px;
        }
        .white-box{
            width: 39%;
        }
    }
    @media screen and (min-width: 998px){
        .boxes{
            width: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
            margin: 0 auto;
        }
        .border{
            margin-left: 0px;
        }
        .white-box{
            width: 80%;
        }
    }
}
.btn{
    text-align: center;
    margin-top: 20px;
}
@media screen and (min-width: 998px){
    .faq{
        .wrapper{
            width: 60%;
        }
        details{
            summary{
                font-size: 22px;
            }
        }
    }
}
details{
    color:#000;
    font-size: 16px;
    p{
            margin-bottom: 0;
        }
}
summary{
    border-bottom: 1px solid #D9D9D9;
    padding: 20px 60px 20px 0;
    margin-bottom: 2px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    list-style-type: none;
    position: relative;
    
}
details[open] > summary {
    color:#1dc8cd;
  }
summary::before{
    content: "+";
    font-size: 30px;
    position: absolute;
    right: 10px;
}
details[open]{
    summary::before{
        content: "-";
        position: absolute;
        right: 10px;
        font-size: 30px;
    }
}
.our-team{
    padding-bottom: 60px;
    text-align: center;
    .staff{
        height: 260px;
        overflow: hidden;
    }
    h3{
        margin-bottom: 8px;
    }
    .job-title{
        font-style: italic;
        font-size: 13px;
        color: black;
    }
    .social-media{
        width: 100px;
        margin: 0  auto;
        display: flex;
        justify-content: space-evenly;
        i{
            color: #777;
            margin-top: 20px;
            margin-bottom: 20px;
            &:hover{
                color: #1dc8cd;
            }
        }
    }
    @media screen and (min-width: 768px){
        .team-members{
            display: flex;
            flex-wrap: wrap;
        }
        .team-member{
            width: 48%;
        }
        .right{
            margin-left: 28px;
        }
    }
    @media screen and (min-width: 998px){
        .wrapper{
            width: 60%;
        }
        .team-members{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            margin-top: 50px;
        }
        .team-member{
            width: 100%;
        }
        .right{
            margin-left: 0;
        }
    }
}
.gallery{
    .box{
        width: 100%;
        height: 362px;
        overflow: hidden;
        transition: 0.3s all ease-in-out;
        img{
            &:hover{
                scale: 1.1;
                transition: 0.3s all ease-in-out;
            }
        }
    }
    @media screen and (min-width: 768px){
        .box{
            width: 50%;
            height: 281px;
        }
        .gallery-images{
            display: flex;
            flex-wrap: wrap;
        }
    }
    @media screen and (min-width: 998px){
        .gallery-images{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .box{
            width: 100%;
            height: 475px;
        }
    }
}
.contact{
    h1{
        color: #1dc8cd;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 36px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        color: #888;
        margin-bottom: 30px;
    }
    .socials{
        display: flex;
        a{
            background: #fff;
            color: #1dc8cd;
            color: #1dc8cd;
            width: 36px;
            height: 36px;
            border: 1px solid #1dc8cd;
            border-radius: 50%;
            text-align: center;
            transition: 0.3s all ease-in-out;
                &:hover{
                    background-color: #1dc8cd;
                    color: white;
                    transition: 0.3s all ease-in-out;
                }
            i{
                font-size: 18px;
            }
        }
    }
    .location{
        display: flex;
        align-items: center;
        margin-top: 30px;
        i{
            color: #1dc8cd;
            font-size: 22px;
            margin-right: 20px;
        }
        span{
            line-height: 28px;
            font-size: 14px;
        }
    }
    @media screen and (min-width: 768px){
        .top-row{
            display: flex;
        }
        .left{
            width: 30%;
            margin-right: 60px;
        }
    }
    @media screen and (min-width: 998px){
        .wrapper{
            width: 60%;
            display: flex;
        }
        .top-row{
            width: 60%;
        }
        .contact-form{
            width: 40%;
        }
        .left{
            width: 50%;
        }
        .socials{
            width: 65%;
            justify-content: space-between;
        }
    }
    .contact-form{
        margin-top: 30px;
        .button{
            margin-bottom: 50px;
            background: linear-gradient(45deg, #1de099, #1dc8cd);
            padding: 10px 20px;
            &:hover{
                color: white;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            input{
                padding: 8px 0;
                margin-bottom: 15px;
                padding-left: 10px;
                font-size: 14px;
                border: 1px solid #ced4da;
            }
            textarea{
                padding: 8px 0;
                margin-bottom: 15px;
                padding-left: 10px;
                font-size: 14px;
                border: 1px solid #ced4da;
            }
        }
        @media screen and (min-width: 768px){
            form{
                width: 100%;
            }
        }
    }    
}
.border{
    border: 2px solid #1dc8cd;
    .button{
        background: linear-gradient(45deg, #1de099, #1dc8cd);
        border: none;

    }
}
.italic-subtitle{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999;
}
.black-title{
        color: #111;
        font-size: 26px;
        font-weight: 700;
}
.section-tittle{
    padding-top: 50px;
    text-align: center;
    font-weight: 400;
    color: black;
}
hr{
    width: 60px;
    border: none;
    height: 3px;
    background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
}
.italic{
    color: #777;
    font-style: italic
}
.subtitle{
    text-align: center;
    line-height: 25px;
}
.title{
    font-size: 2rem;
    font-weight: 400;
}
.background{
    background: #eff5f5;
}